<div class="comments">
    {{#each this}}
    <section class="comment py-2 my-2 border">
        <div class="meta">
            {{user.username}} commented on {{format_date created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>