<form class="login-form w-50 justify-content-center">
    <h2 class="p-2">Login</h2>
    <div class="p-2">
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" class="w-100">
    </div>
    <div class="p-2">
        <label for="password-login">Password:</label>
        <input type="text" id="password-login" class="w-100">
    </div>
    <div class="p-2">
        <button type="submit" class="w-100 btn btn-primary">Login!</button>
    </div>
    <div class="p-2">
        <a href="/signup" class="btn btn-secondary">Sign up instead!</a>
    </div>
</form>
<script src="/javascript/login.js"></script>