<form class="signup-form w-50 justify-content-center">
    <h2 class="p-2">Signup</h2>
    <div class="p-2">
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" class="w-100" />
    </div>
    <div class="p-2">
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" class="w-100" />
    </div>
    <div class="p-2">
        <label for="password-signup">Password:</label>
        <input type="text" id="password-signup" class="w-100" />
    </div>
    <div class="p-2">
        <button type="submit" class="w-100 btn btn-primary">Signup!</button>
    </div>
    <div class="p-2">
        <a href="/login" class="btn btn-secondary">Return to login.</a>
    </div>
</form>
<script src="/javascript/signup.js"></script>